.signLog {
    background: #5085a5;
    border: 2px solid #5085a5;
    color: #FFFFFF;
}

.signLog:hover {
    background: #5085a5;
    color: #FFFFFF;
}

.signLog:focus {
    background: #31708E;
    color: #FFFFFF;
}